name: Build and deploy
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.18
        uses: actions/setup-go@v1
        with:
          go-version: 1.18
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          mkdir -p $GOPATH/bin
          export PATH=$PATH:$GOPATH/bin

      - name: Build
        run: go build -v ./goscord/

      - name: Vet
        run: go vet ./goscord/...

      - name: Format
        run: test -z $(go fmt ./goscord/...)

      - name: Staticcheck
        run: |
          go get honnef.co/go/tools/cmd/staticcheck
          GOBIN=$PWD/bin go install honnef.co/go/tools/cmd/staticcheck
          ./bin/staticcheck ./...g